* {
    padding: 0;
    margin: 0;
}

.hungry {
    font-family: 'Great Vibes', cursive;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.navbar {
    border: 1px solid rgba(0, 0, 0, 0.1);
    //margin-top: 100px;
    background-color: whitesmoke;
    font-size: 12px;
}

.navbar-brand {
    height: 80px;
    width: 80px;
    overflow: hidden;
}

.navbar-brand img {
    height: 100%;
    width: 100%;
}

.navbar-toggler-icon {
    color: #0cb8b6;
}

nav .nav-link {
    color: black;
    letter-spacing: 2px;
    text-transform: uppercase;
}

nav ul li.active > a {
    color: #0cb8b6;
    font-weight: bold;
    font-size: 12px;
    border-bottom: 3px solid #0cb8b6;
}


nav .navbar-brand {
    font-size: 20px;
}

//nav.black {
//    background-color: rgba(0, 0, 0, 0.4);
//}

.txt {
    color: #56CCF2;
    font-size: 18px;
    margin-bottom: 30px;
}

.head {
    font-size: 70px;
    font-weight: lighter;
}

.context {
    background: #0cb8b6;
    //font-family: 'Francois One', sans-serif;
    margin-top: 20px;
    color: whitesmoke;
    height: 150px;
    padding: 50px;
    font-size: 80px;
    text-transform: uppercase;
}

.dashboard-context {
    position: relative;
    background: #2980b9; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #2c3e50, #2980b9); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2c3e50, #2980b9);
    height: 100px;
}

.d-context {
    position: relative;
    top: 10%;
    left: 0;
}

.d-context h3 {
    font-size: 22px;
    color: powderblue;
}

.d-context span {
    color: #8ac1ef;
    font-weight: bold;
    text-transform: uppercase;
}

.head1 {
    color: #0cb8b6;
    //font-family: 'Francois One', sans-serif;
}

.section-title h4 {
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    padding-bottom: 20px;
    display: inline-block;
}

.section-title h4::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 2px;
    background-color: #d8d8d8;
    bottom: 0;
    left: 50%;
    margin-left: -40px;
}

.section-title h4::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background-color: #0cb8b6;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
}

.section-title p {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    padding-bottom: 20px;
    display: inline-block;
}

.section-title p::before {
    position: absolute;
    content: "";
    width: 80px;
    height: 2px;
    background-color: #d8d8d8;
    bottom: 0;
    left: 50%;
    margin-left: -40px;
}

.section-title p::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 2px;
    background: #0cb8b6;
    bottom: 0;
    left: 50%;
    margin-left: -25px;
}


.reg {
    color: #38A1F3;
}

.reg:hover {
    text-decoration: none;
    color: lightgreen;
}

input.form-control {
    border: 1px solid #0cb8b6;
    box-shadow: none;
    outline: none;
    text-align: center;
}

.card .form-control:focus {
    box-shadow: none;
    background: transparent;
}

select.form-control {
    border: 1px solid #0cb8b6;
    box-shadow: none;
    outline: none;
    text-align: center;
}

textarea.form-control {
    border: 1px solid #0cb8b6;
    box-shadow: none;
    outline: none;
    text-align: center;
}

.bg {
    position: relative;
    background: url(../img/cover.PNG) no-repeat fixed center;
    background-size: cover;
    height: 650px;
}

.bg-overly {
    background-color: rgba(52, 73, 94, .6);
    height: 100%;
}

.bg-content {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -10%);
}


.bg-content h1 {
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: #c8d6e5;

}

/*Button*/
.bg-content a {
    text-decoration: none;
}
.bg-content a:hover {
    background-color: #0f6674;
    color: white;
    border: 1px solid #0cb8b6;
}

.bg-content a:hover {
    color: #1dd1a1;
    /*background-color: #1dd1a1;*/
    transition: .7s;
    border: 2px solid #38A1F3;
}

/*Catagory*/
.catg-container {
    width: 90%;
    margin: auto;
}

.catg01 h2 {
    color: #38A1F3;
}

.catg01 p {
    color: #576574;
}

.parallax-window {
    min-height: 450px;
    background-color: rgba(0, 0, 0, 0.5);
}

#worked-with {
    margin-top: 30px;
}

#worked-with h1 {
    color: #fff;
    text-align: center;
}

.card {
    overflow: hidden;
}

.card img {
    max-height: 200px;
}

.card img:hover {
    opacity: .7;
    transition: .5s;
}

.form-control {
    border: none;
    border-radius: 0;
    background: transparent;
    outline: none;
}

.form-control:focus {
    box-shadow: none;
    background: transparent;
}

.send:focus {
    box-shadow: none;
}

.send {
    letter-spacing: 3px;
}

.pname a {
    letter-spacing: 1px;
    font-weight: 500;
}

.pname a:hover {
    color: #0cb8b6;
}

.star {
    font-size: 20px;
    color: #0cb8b6;
}

.card .button {
    background-color: #0cb8b6;
    box-shadow: none;
    text-transform: uppercase;
    color: whitesmoke;
    border-radius: 0;
}
.card .button_org {
    background-color: coral;
    box-shadow: none;
    text-transform: uppercase;
    color: whitesmoke;
    border-radius: 0;
}

.card .button:hover {
    background-color: #1ba87e;
    color: whitesmoke;
}
.card .button_org:hover {
    background-color: darkorange;
    color: whitesmoke;
}
.btn-info {
    text-transform: uppercase;
    box-shadow: none;
    font-size: 12px;
    text-align: center;
    border-radius: 0;
    background-color: #0cb8b6;
    color: white;
    font-weight: bold;
}

.info button.btn-info:hover {
    background-color: #0cb8b6;
    color: white;
    transition: .6s;
}

.form-group textarea {
    border: 1px solid black;
}

.form-group textarea:focus {
    box-shadow: none;
}

.quote {
    line-height: 2;
    //font-family: 'Great Vibes', cursive;
}

/*Footer*/
footer {
    background: #136a8a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #267871, #136a8a); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #267871, #136a8a);
    height: auto;
}

footer .form-control {
    background: transparent;
    border-bottom: 2px solid #38A1F3;
    color: #38A1F3;
    text-align: center;
}

footer .form-control:focus {
    box-shadow: none;
    background: transparent;
    color: #38A1F3;
}


.contact li {
    line-height: 2;
}

.contact li:hover {
    color: #38A1F3;
}

.cart td img {
    max-height: 50px;
    max-width: 50px;
}

.ed {
    margin-top: 100px;
}

a .dept {
    color: #444444;
    //font-family: 'Francois One', sans-serif;
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .07);
}

a .dept:hover {
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid #0cb8b6;
    transition: .5s;
}

.divider {
    border-bottom: 2px solid #0cb8b6;
}

.categories p {
    color: #0cb8b6;
}

.categories a {
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 5px;
}

.categories a:hover {
    color: #0cb8b6;
    transition: .5s;
}


.card-fig:hover {
    box-shadow: 5px 10px 20px #888888;
    transition: .4s;
}

.to_top {
    position: fixed;
    bottom: 50%;
    right: 0;
    background-color: whitesmoke;
    color: #0cb8b6;
    cursor: pointer;
    padding: 8px 13px;
}

.shopping {
    position: fixed;
    bottom: 55%;
    right: 18px;
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
}

h5.info{
    color: #0cb8b6;
}
